<header>
    <nav>
        <div class="logo">
            <img src="assets/logo.png" alt="Logo">
            <span>Trafalgar</span>
        </div>

        <!-- Menu Desktop -->
        <div class="menu_container" [class.hidden]="isMenuOpen">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/find-doctor">Find a doctor</a></li>
                <li><a routerLink="/apps">Apps</a></li>
                <li><a routerLink="/testimonials">Testimonials</a></li>
                <li><a routerLink="/about">About us</a></li>
            </ul>
        </div>

        <!-- Bouton menu burger (Mobile) -->
        <div class="menu-toggle" (click)="toggleMenu()">
            ☰
        </div>

        <!-- Menu Mobile -->
        <div class="mobile-menu" [class.show-menu]="isMenuOpen">
            <ul>
                <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
                <li><a routerLink="/find-doctor" (click)="toggleMenu()">Find a doctor</a></li>
                <li><a routerLink="/apps" (click)="toggleMenu()">Apps</a></li>
                <li><a routerLink="/testimonials" (click)="toggleMenu()">Testimonials</a></li>
                <li><a routerLink="/about" (click)="toggleMenu()">About us</a></li>
            </ul>
        </div>
    </nav>
</header>
