/* Section Image avec Texte */
.image-with-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.img-section1 img {
    max-width: 100%;
    height: auto;
}

.text-container {
    max-width: 500px;
}

.text-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 16px;
    color: #A0A0A0;
    margin-bottom: 30px;
}

.primary-button {
    background: #458FF6;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.primary-button:hover {
    background: #356ACC;
}
/* Responsive Design */
@media (max-width: 768px) {
    .image-with-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-container {
        max-width: 100%;
    }

    .img-section1 img {
        max-width: 80%;
        margin-top: 20px;
    }
}